#loginBackground {
    background-color: #f7b217;
    z-index: -1;
}

.input-login {
    border: 2px solid #f7b217 !important;
    /* width: 256px !important; */
    height: 48px !important;
    margin-top: 27px !important;
}

#box {
    background-color: #ffffff;
}

a {
    list-style: none;
    text-decoration: none;
}

::placeholder {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 16px !important;
    letter-spacing: 0.0125em !important;
}

.btn-login {
    margin-top: 1rem !important;
}

#garisVector {
    margin-top: -39rem !important;
    margin-right: -38rem !important;
}

.verif_input {
    border: 2px solid #f7b217 !important;
    border-radius: 8px;
}

.invalid-feedback {
    padding-left: 0;
}

.position-fixed-alert {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 2;
}

@media (min-width: 375px) and (max-width: 812px) {
    #garisVector {
        display: none;
    }
}

@media (max-width: 768px) {
    #circle3 {
        width: 60%;
    }

    #ml_left {
        margin-left: 40px;
    }

    #box {
        padding: 2rem;
        max-width: 24rem;
    }
}

@media (min-width: 768px) and (max-width: 1920px) {
    #circle3 {
        width: 100%;
    }

    #ml_left {
        margin-left: 120px;
    }

    #box {
        padding: 4rem 8rem;
        max-width: 36rem;
    }
}
