@font-face {
    font-family: "Roboto";
    src: url("Roboto-BlackItalic.woff2") format("woff2"),
        url("Roboto-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Black.woff2") format("woff2"),
        url("Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Bold.woff2") format("woff2"),
        url("Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Italic.woff2") format("woff2"),
        url("Roboto-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-BoldItalic.woff2") format("woff2"),
        url("Roboto-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Light.woff2") format("woff2"),
        url("Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-MediumItalic.woff2") format("woff2"),
        url("Roboto-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Medium.woff2") format("woff2"),
        url("Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-LightItalic.woff2") format("woff2"),
        url("Roboto-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-ThinItalic.woff2") format("woff2"),
        url("Roboto-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.woff2") format("woff2"),
        url("Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Thin.woff2") format("woff2"),
        url("Roboto-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

h1,
h2 {
    font-weight: light;
}

h1 {
    font-size: 96px;
    /* line-height: -1.5px; */
}

h2 {
    font-size: 60px;
    /* line-height: -0.5px; */
}

h3 {
    font-size: 48px;
    /* line-height: 0; */
}

h4 {
    font-size: 34px;
    /* line-height: 0.25px; */
}

h5 {
    font-size: 24px;
    /* line-height: 0; */
}

h6 {
    font-size: 20px;
    font-weight: bold;
    /* line-height: 0.15px; */
}

button {
    font-size: 12px;
    /* line-height: 1.25px; */
    font-weight: bold;
}

.shadow-cs {
    box-shadow: 0rem .6rem 1rem 0.1rem rgba(0, 0, 0, 0.04);
}

#loginBackground {
    background-color: #F7B217;
    z-index: -1;
}

@media (min-width: 375px) and (max-width: 812px) {
    #garisVector {
      display: none;
    }
  }

  @media (max-width: 768px) {

    #circle3 {
      width: 60%;
    }

    #ml_left {
      margin-left: 40px;
    }

    #box {
      padding: 2rem;
      max-width: 24rem;
    }

  }

  @media (min-width: 768px) and (max-width: 1920px) {
      #circle3 {
          width: 100%;
      }

      #ml_left {
           margin-left: 120px;
      }

      #box{
          padding: 4rem 8rem;
          max-width: 36rem;
      }
  }


.input-login {
    border: 2px solid #F7B217 !important;
    /* width: 256px !important; */
    height: 48px !important;
    margin-top: 27px !important;
  }

  #box {
    background-color: #FFFFFF;
  }

  a {
    list-style: none;
    text-decoration: none;
  }


  ::placeholder {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 16px !important;
    letter-spacing: 0.0125em !important;
  }

  .btn-login {
    margin-top: 1rem !important;
  }

  #garisVector {
    margin-top: -39rem !important;
    margin-right: -38rem !important;
  }

  .verif_input {
    border: 2px solid #F7B217 !important;
    border-radius: 8px;
  }
