<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SideBar</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <style>
      .z-index {
        z-index: 10;
      }
    </style>
  </head>
  <body>
    <div class="w-full">
      <div class="d-flex">
        <!-- <div class="order-2" style="width:82%;"> -->
        <div class="size1 order-2 px-2" style="width:95%;">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum,
            tenetur, nesciunt aliquid voluptatibus exercitationem accusamus
            fugiat magni nulla rem porro labore cumque corrupti alias molestias
            quam totam animi. Nam, ipsam?
          </p>
        </div>
        <!-- sidebar -->
        <!-- <div class="px-0 overflow-hidden" style="width:18% ;"> -->
        <div class="size2 px-0 overflow-hidden order-1" style="width:5% ;">
          <!-- <div class="px-0 overflow-hidden w-auto"> -->
          <div
            style="background-color: #201e3d"
            class="d-flex flex-column align-items-center align-items-sm-start text-white min-vh-100"
          >
            <a
              onclick="toggle()"
              class="active d-flex align-items-center text-white text-decoration-none px-2 py-3 p "
            >
              <div>
                <img
                  src="./img/Rectangle.png"
                  alt=""
                  style="width: 10rem"
                  class="d-none"
                />
                <img src="./img/pureLogo.png" alt="" style="width:2.7rem ;" />
              </div>
            </a>
            <ul
              class="nav nav-pills flex-column mb-0 align-items-center align-items-sm-start w-100 mt-4"
              id="menu"
            >
              <li
                id="dasboard"
                class="w-100 d-flex flex-row justify-content-between mb-2 position-relative"
                onmouseenter="a()"
                onmouseleave="a()"
              >
                <div class="w-100 ms-3" style="z-index: 20">
                  <a
                    href=""
                    class="nav-link px-0 text-white row align-items-center"
                  >
                    <i class="fa-solid fa-border-all col-2"></i>
                    <span class="col-5 d-none">Dashboard</span>
                  </a>
                </div>
                <div id="decor" style="width: 4%" style="z-index: 20"></div>
                <div
                  class="position-absolute h-100 w-100 bg-white d-none"
                  style="opacity: 0.1"
                ></div>
              </li>

              <li
                id="absensi"
                class="w-100 d-flex flex-row justify-content-between mb-2 position-relative"
                onmouseenter="b()"
                onmouseleave="b()"
              >
                <div class="w-100 ms-3" style="z-index: 20">
                  <a
                    href=""
                    class="nav-link px-0 text-white row align-items-center"
                  >
                    <i class="fa-solid fa-clipboard-user col-2"></i>
                    <span class="col-5 d-none">Absensi</span>
                  </a>
                </div>
                <div id="decor" style="width: 4%" style="z-index: 20"></div>
                <div
                  class="position-absolute bg-white h-100 w-100 d-none"
                  style="opacity: 0.1"
                ></div>
              </li>

              <li
                id="profile"
                class="w-100 d-flex flex-row justify-content-between mb-2 position-relative"
                onmouseenter="c()"
                onmouseleave="c()"
              >
                <div class="w-100 ms-3" style="z-index: 20">
                  <a
                    href=""
                    class="nav-link px-0 text-white row align-items-center"
                  >
                    <i class="fa-solid fa-user-pen col-2"></i>
                    <span class="col-5 d-none">Edit Profile</span>
                  </a>
                </div>
                <div id="decor" style="width: 4%" style="z-index: 20"></div>
                <div
                  class="position-absolute bg-white h-100 w-100 d-none"
                  style="opacity: 0.1"
                ></div>
              </li>

              <li
                id="out"
                class="w-100 d-flex flex-row justify-content-between mt-2 position-relative"
                onmouseenter="d()"
                onmouseleave="d()"
              >
                <div class="w-100 ms-3" style="z-index: 20">
                  <a
                    href=""
                    class="nav-link px-0 text-warning row align-items-center"
                  >
                    <i class="fa-solid fa-arrow-right-to-bracket col-3"></i>
                    <span class="col-5 d-none">Log Out</span>
                  </a>
                </div>
                <div id="decor" style="width: 4%" style="z-index: 20"></div>
                <div
                  class="position-absolute bg-white h-100 w-100 d-none"
                  style="opacity: 0.1"
                ></div>
              </li>
            </ul>
            <hr />
          </div>
        </div>
        <!-- end sidebar -->
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      const dasboard = document.querySelector('#dasboard')
      function a() {
        dasboard.children[2].classList.toggle('d-none')
        dasboard.children[2].classList.toggle('z-index')
        dasboard.children[1].classList.toggle('bg-warning')
        dasboard.children[0].children[0].classList.toggle('text-white')
        dasboard.children[0].children[0].classList.toggle('text-warning')
      }

      const absensi = document.querySelector('#absensi')
      // const text
      function b() {
        absensi.children[2].classList.toggle('d-none')
        absensi.children[2].classList.toggle('z-index')
        absensi.children[1].classList.toggle('bg-warning')
        absensi.children[0].children[0].classList.toggle('text-white')
        absensi.children[0].children[0].classList.toggle('text-warning')
        console.log(absensi.children[0].children[0].children[1])
      }

      const profile = document.querySelector('#profile')
      function c() {
        profile.children[2].classList.toggle('d-none')
        profile.children[1].classList.toggle('bg-warning')
        profile.children[2].classList.toggle('z-index')
        profile.children[0].children[0].classList.toggle('text-white')
        profile.children[0].children[0].classList.toggle('text-warning')
      }

      const out = document.querySelector('#out')
      function d() {
        out.children[2].classList.toggle('d-none')
        profile.children[2].classList.toggle('z-index')
        out.children[1].classList.toggle('bg-warning')
      }

      const menu = document.querySelectorAll('#menu li')

      const size1 = document.querySelector('.size1')
      const size2 = document.querySelector('.size2')

      const button = document.querySelector('.active')
      const text = document.querySelectorAll('li div a span')
      const image = document.querySelectorAll('div img')
      button.style.cursor = 'pointer'
      const toggle = () => {
        const check = button.classList.contains('active')
        button.classList.toggle('active')
        for (let i = 0; i < text.length; i++) {
          text[i].classList.toggle('d-none')
          if (i < 2) {
            image[i].classList.toggle('d-none')
          }
        }
        if (check === true) {
          size1.style.width = '82%'
          size2.style.width = '18%'
        } else {
          size1.style.width = '95%'
          size2.style.width = '5%'
        }
      }

      // console.log(text[0])
      // size.style.width = '18%'
    </script>
  </body>
</html>
